{% extends 'base.html' %}
{% load static%}

{% block title %}Configuración - {% endblock title %}
{% block content %}
<h5>Configuración del sistema</h5>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Activar o desactivar el sistema
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">Sistema de seguridad</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Componentes de vigilancia
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                {% for i in component %}
                <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="{{ i.nombre }}">
                        <label class="custom-control-label" for="{{ i.nombre }}">{{ i.nombre }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}