{% extends 'base.html' %}
{% load static%}

{% block title %}Configuración - {% endblock title %}
{% block content %}
<h5 class="titulo-pagina">Configuración del sistema</h5>
<div class="accordion" id="accordionExample">
    <!--ACORDION 1-->
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Activar o desactivar el sistema
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="custom-control custom-switch item-list">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"><b>Sistema de seguridad</b></label>
                </div>
            </div>
        </div>
    </div>

    <!--ACORDION 2-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Componentes de vigilancia
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                {% for i in component %}
                <div class="custom-control custom-switch item-list">
                    {% if i.estado %}
                        <input type="checkbox" class="custom-control-input chk" id="{{ i.componente_id }}"  checked>
                    {% else %}
                        <input type="checkbox" class="custom-control-input chk" id="{{ i.componente_id }}">
                    {% endif %}
                    <label class="custom-control-label" for="{{ i.componente_id }}">
                        <b>{{ i.componente }}</b> <br>
                        <b>Sector:</b> {{ i.sector }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block js %}
<script type="application/javascript">
$('.chk').click(function (e) {
    $.ajax({type: "POST",
                url: '{% url "estadoComponente" %}',
                data: {
                    componente_id: e.target.id,
                    estado: e.target.checked,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
    }).done(function (d) {
        alert(d.mensaje);
    }).fail(function (jqXHR, textStatus, errorThrown) {

    }).always(function (data) {

    });

});
</script>
{% endblock js %}