{% load static %}
<!DOCTYPE html>
<html lang="es-EC">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.6.0-dist/css/bootstrap.min.css' %}" type="text/css" />
    <!--<link rel="stylesheet" href="{% static 'css/fontawesome-5.15.2/css/all.min.css' %}" type="text/css" />-->
    
    <!--<link rel="icon" href="{% static 'img/logo_em_macara.png' %}" type="image/png" />-->

    <title>{% block title %}{% endblock title %}Smart Security System</title>

    {% block css %}{% endblock css %}
</head>

<body>
    <header>
        <nav class="navbar navbar-light" style="background-color: #0A2B55;">
            <span class="navbar-brand mb-0 h1 text-white">Sistema de seguridad inteligente</span>
        </nav>
    </header>
    {% block nav-content %} {% include "nav.html" %}{% endblock nav-content %}
    <main class="container-hu">
        {% block content %} {% endblock content %}
    </main>

    <script src="{% static 'js/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'css/bootstrap-4.6.0-dist/js/bootstrap.bundle.js' %}"></script>


    {% block js %} {% endblock js %}
</body>

</html>